<html ng-app="App">
	<head>
		<title>CrowdsourceCovid</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css/">

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
		<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

		<script src="/assets/js/app.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<h1>TEST</h1>
	</body>
</html>