<html ng-app="App">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	
	  <title>CrowdsourceCovid</title>

	  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  
	  <script src="/node_modules/angular/angular.min.js"></script>
	  <script src="/node_modules/angular-route/angular-route.min.js"></script>
		<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  
		  <script src="/assets/js/app.js"></script>
		  <script src="/assets/js/map.js"></script>
	
	  <!-- Bootstrap core CSS -->
	  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	  <!-- Bootstrap core JavaScript -->
	  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoZWy6kx_-dZvK06BkhverpQZ6nPk4gao&callback=initMap&libraries=places&v=weekly"
      defer
	></script>
</init-map>
	</head>
	
	<body>
	
	  <!-- Navigation
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
		  <a class="navbar-brand" href="#">Start Bootstrap</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Home
				  <span class="sr-only">(current)</span>
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav> -->
	
	  <!-- Page Content -->
	  <div class="container" ng-controller="MainCtrl">
	
		<div class="row">
	
		  <!-- Post Content Column -->
		  <div class="col-lg-8">
	
			<!-- Title -->
			<h1 class="mt-4">Crowdsource Covid</h1>
	
			<hr>
	
			<!-- Preview Image -->

			<div style="display: none">
				<input
	  				id="pac-input"
					  class="form-control"
					  style="width: 50%;"
	  				type="text"
					placeholder="Enter a location"
				/>
  			</div>
  			<div id="map" style="height: 450px;width: 700px;"></div>
  			<div id="infowindow-content">
				<span id="place-name" class="title"></span><br />
				<strong>Place ID:</strong> <span id="place-id"></span><br />
				<span id="place-address"></span>
				<button class="btn btn-primary" ng-click="dataChanged()"></button>
			</div>
			<p>&nbsp</p>
	
			<!-- Post Content -->
			<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
	
			<blockquote class="blockquote">
			  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			  <footer class="blockquote-footer">Someone famous in
				<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p> -->

			<div ng-repeat="review in reviews">
				<div class="media mb-4">
					<img class="d-flex mr-3 rounded-circle" style="width: 50px;height: 50px;" src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="">
					<div class="media-body">
						<h5 class="mt-0">{{ review.name }}</h5>
						{{ review.comment }}
					</div>
					<ul>
						<li ng-repeat="property in reviewProperties" style="list-style-type:none;">
							<div><b>{{ getPropertyName(property) }}</b> &nbsp; 
								<i class="fas fa-tired float-right fa-lg" style="color: darkred;" ng-show="getPropertyScore(property, review) === 0"></i>
								<i class="fas fa-frown-open float-right fa-lg" style="color: darkorange;" ng-show="getPropertyScore(property, review) === 1"></i>
								<i class="fas fa-meh float-right fa-lg" style="color: darkblue;" ng-show="getPropertyScore(property, review) === 2"></i>
								<i class="fas fa-smile-wink float-right fa-lg" style="color: darkgreen;" ng-show="getPropertyScore(property, review) === 3"></i>
							</div>
						</li>
					</ul>
				</div>
				<hr>
			</div>
	
			<!-- Review Form -->
			<div class="card my-4">
			  <h5 class="card-header">Leave a Review:</h5>
			  <div class="card-body">
				<form>
				  <div class="form-group">
					<input type="text" class="form-control reviewerName" placeholder="Name">
					<br>
					<input type="text" class="form-control spaciousness" placeholder="Space (1-3)">
					<br>
					<input type="text" class="form-control crowdedness" placeholder="Density (1-3)">
					<br>
					<input type="text" class="form-control sanitationAvailability" placeholder="Sanitizers (1-3)">
					<br>
					<input type="text" class="form-control cleanliness" placeholder="Cleanliness (1-3)">
					<br>
					<input type="text" class="form-control visitorMaskCompliance" placeholder="Masks on visitors (1-3)">
					<br>
					<input type="text" class="form-control staffMaskCompliance" placeholder="Masks on staff (1-3)">
					<br>
					<textarea class="form-control comment" rows="3" placeholder="Comment"></textarea>
				  </div>
				  <button type="submit" class="btn btn-primary" ng-click="submitReview(
					  place-name, reviewerName, comment, spaciousness, crowdedness, 
					  sanitationAvailability, cleanliness, visitorMaskCompliance, staffMaskCompliance)">Submit</button>
				</form>
			  </div>
			</div>
	
		  </div>
	
		  <!-- Sidebar Widgets Column -->
		  <div class="col-md-4">
	
			<!-- Search Widget
			<div class="card my-4">
			  <h5 class="card-header">Search</h5>
			  <div class="card-body">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search for...">
				  <span class="input-group-append">
					<button class="btn btn-secondary" type="button">Go!</button>
				  </span>
				</div>
			  </div>
			</div> -->
	
			<!-- Side Widget
			<div class="card my-4">
			  <h5 class="card-header">Side Widget</h5>
			  <div class="card-body">
				You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
			  </div>
			</div> -->
	
		  </div>
	
		</div>
		<!-- /.row -->
	
	  </div>
	  <!-- /.container -->
	
	  <!-- Footer -->
	  <footer class="py-5 bg-dark">
		<div class="container">
		  <p class="m-0 text-center text-white">Copyright &copy; Crowdsource Covid 2020</p>
		</div>
		<!-- /.container -->
	  </footer>
	</body>
	
	</html>
	
</html>